body {
  font-family: sans-serif;
}

header {
  width: 100%;
  height: 40vh;
  background-image: url(../images/work-header.png);
  background-size: cover;
  padding: 100px 200px;
  position: absolute;
  top: 0;
}

header h1 {
  color: white;
  font-family: "Limelight", cursive;
  font-size: 4rem;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ------------ work-top ------------ */
#work-top {
  height: 120vh;
  padding: 45vh 200px;
  background-color: #e8e8e8;
}

#work-top .digest {
  width: 1000px;
  display: flex;
  opacity: 0;
  animation: fadein 1s forwards;
}

#work-top .problem {
  width: 600px;
  height: 500px;
  padding: 150px 0 0 150px;
  background-image: url(../images/problem.png);
  background-size: contain;
  background-position: center;
}

#work-top .solution {
  width: 600px;
  height: 500px;
  padding: 150px 0 0 150px;

  background-image: url(../images/solution.png);
  background-size: contain;
  background-position: center;
}

#work-top .sub-title {
  font-family: "Limelight", cursive;
  color: #4987ad;
}

#work-top h3 {
  margin-bottom: 20px;
}


/* ------------ detail-pc ------------ */
#detail-pc2 {
  display: flex;
  margin-top: 100px;
}

#detail-pc2 .beforeafter2 {
  width: 40px;
  margin-left: 10%;
  margin-right: 2%;
}

#detail-pc2 .img img {
  width: 100%;
  margin-bottom: 80px;
}

#detail-pc2 .img img:nth-child(2) {
  margin-bottom: 400px;
}

#detail-pc2 .img {
  width: 36%;
}

#detail-pc2 .inview5 {
    margin-top: 500px;
    height: 1600px;
}

#detail-pc2 .right5,
#detail-pc2 .right6 {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 630px;
  margin: 100px 100px 0;
  padding: 0 0 0 100px;
  background-image: url(../images/detail.png);
  background-size: cover;

  opacity: 0;
  transition: 0.5s;
}

#detail-pc2 .show {
  opacity: 1;
}

#detail-pc2 .before {
  font-family: "Limelight", cursive;
  color: #4987AD;
  font-size: 5rem;
  margin-bottom: 70px;
}

#detail-pc2 .after {
  font-family: "Limelight", cursive;
  color: #ad4949;
  font-size: 5rem;
  margin-bottom: 70px;
}

#detail-pc2 li {
  margin-bottom: 5px;
}

/* ------------ buttons ------------ */
.work3buttons {
  display: flex;
  justify-content: center;
  margin: 100px 0 50px;
  gap: 20px;
}

.work3link {
  width: 480px;
  border: solid 2px #4987ad;
  padding: 20px 40px;
  border-radius: 50px;
}

.work3link-button {
  text-decoration: none;
  color: #4987ad;
}

.back-button {
  text-decoration: none;
  color: white;
}

.button {
  width: 240px;
  background-color: black;
  padding: 30px 60px;
  border-radius: 50px;
}

/* ------------ footer ------------ */
footer {
  width: 100%;
  height: 380px;
  background-image: url(../images/footer.png);
  background-size: cover;
}

footer p {
  padding: 140px 0 0 100px;
  color: white;
  font-size: 3rem;
  font-family: "Limelight", cursive;
}
