body {
  font-family: sans-serif;
}

header {
    width: 100%;
    height: 40vh;
    background-image: url(../images/work-header.png);
    background-size: contain;
    padding: 100px 200px;
    position: absolute;
    top: 0;
  }
  
  header h1 {
    color: white;
    font-family: "Limelight", cursive;
    font-size: 4rem;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* ------------ work-top ------------ */
  #work-top4 {
    height: 120vh;
    padding: 45vh 200px;
    background-color: #e8e8e8;
  }
  
  #work-top4 .digest {
    display: flex;
    opacity: 0;
    animation: fadein 1s forwards;
  }
  
  #work-top4 .problem {
    width: 650px;
    height: 550px;
    margin-top: -50px;
    padding: 180px 0 0 150px;
    background-image: url(../images/problem.png);
    background-size: contain;
    background-position: center;
  }
  
  #work-top4 .solution {
    width: 550px;
    height: 450px;
    padding: 150px 0 0 150px;
  
    background-image: url(../images/solution.png);
    background-size: contain;
    background-position: center;
  }
  
  #work-top4 .sub-title {
    font-family: "Limelight", cursive;
    color: #4987ad;
  }
  
  #work-top4 h3 {
    margin-bottom: 20px;
  }
  
  
  /* ------------ detail-pc ------------ */
  #detail-pc3 {
    display: flex;
    margin-top: 100px;
  }
  
  #detail-pc3 .beforeafter3 {
    width: 40px;
    margin-left: 10%;
    margin-right: 2%;
  }
  
  #detail-pc3 .img img {
    width: 100%;
    margin-bottom: 80px;
  }
  
  #detail-pc3 .img img:nth-child(1) {
    margin-bottom: 400px;
  }
  
  #detail-pc3 .img {
    width: 36%;
  }
  
  #detail-pc3 .inview5 {
      margin-top: 500px;
      height: 1400px;
  }
  
  #detail-pc3 .right5,
  #detail-pc3 .right6 {
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    height: 630px;
    margin: 100px 100px 0;
    padding: 0 0 0 100px;
    background-image: url(../images/detail.png);
    background-size: cover;
  
    opacity: 0;
    transition: 0.5s;
  }
  
  #detail-pc3 .show {
    opacity: 1;
  }
  
  #detail-pc3 .before {
    font-family: "Limelight", cursive;
    color: #4987AD;
    font-size: 5rem;
    margin-bottom: 70px;
  }
  
  #detail-pc3 .after {
    font-family: "Limelight", cursive;
    color: #ad4949;
    font-size: 5rem;
    margin-bottom: 70px;
  }
  
  #detail-pc3 li {
    margin-bottom: 5px;
  }
  
  .back-button {
    text-decoration: none;
    color: white;
  }
  
  .button {
    width: 240px;
    background-color: black;
    padding: 30px 60px;
    border-radius: 50px;
    margin: auto;
  }
  
  /* ------------ footer ------------ */
  footer {
    width: 100%;
    height: 380px;
    background-image: url(../images/footer.png);
    background-size: cover;
  }
  
  footer p {
    padding: 140px 0 0 100px;
    color: white;
    font-size: 3rem;
    font-family: "Limelight", cursive;
  }
  