body {
  font-family: sans-serif;
}

header {
  width: 100%;
  height: 40vh;
  background-image: url(../images/work-header.png);
  background-size: cover;
  padding: 100px 200px;
  position: absolute;
  top: 0;
}

header h1 {
  color: white;
  font-family: "Limelight", cursive;
  font-size: 4rem;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ------------ work-top ------------ */
#work-top {
  height: 120vh;
  padding: 45vh 200px;
  background-color: #e8e8e8;
}

#work-top .digest {
  width: 1000px;

  display: flex;
  opacity: 0;
  animation: fadein 1s forwards;
}

#work-top .problem {
  width: 600px;
  height: 500px;
  padding: 150px 0 0 150px;
  background-image: url(../images/problem.png);
  background-size: contain;
  background-position: center;
}

#work-top .solution {
  width: 600px;
  height: 500px;
  padding: 150px 0 0 150px;

  background-image: url(../images/solution.png);
  background-size: contain;
  background-position: center;
}

#work-top .sub-title {
  font-family: "Limelight", cursive;
  color: #4987ad;
}

#work-top h3 {
  margin-bottom: 20px;
}

/* ------------ detail ------------ */
#detail {
  display: flex;
}

#detail .left {
  width: 50%;
  padding: 200px 0 0 300px;
}

#detail .b-a {
  display: flex;
  color: white;
}

#detail .before {
  padding: 10px 80px;
  background-image: url(../images/before-phone.png);
  background-size: contain;
}

#detail .after {
  padding: 10px 80px;
  background-image: url(../images/after-phone.png);
  background-size: contain;
}

#detail .work-img {
  display: flex;
}

#detail .w1b1 {
  width: 200px;
  border: solid 1px lightgray;
}

#detail .w1a1 {
  width: 200px;
  height: 2400px;
  margin-left: 10px;
  border: solid 1px lightgray;
}

#detail .w1b2 {
  width: 200px;
  margin-top: 50px;
  border: solid 1px lightgray;
}

#detail .w1a2 {
  width: 200px;
  margin-left: 10px;
  margin-top: 50px;
  border: solid 1px lightgray;
}

#detail .w1a4 {
  width: 200px;
  height: 2200px;
  margin-left: 10px;
  margin-top: 50px;
  border: solid 1px lightgray;
}

#detail .inview1 {
  margin-top: 500px;
}

#detail .inview3 {
  margin-top: 5500px;
}

#detail .right1,
#detail .right2,
#detail .right3 {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 630px;
  margin: 100px 100px 0;
  padding: 0 0 0 100px;
  background-image: url(../images/detail.png);
  background-size: cover;

  opacity: 0;
  transition: 0.5s;
}

#detail .show {
  opacity: 1;
}

#detail h3 {
  font-family: "Limelight", cursive;
  color: #ad4949;
  font-size: 5rem;
  margin-bottom: 70px;
}

#detail li {
  margin-bottom: 5px;
}

.back-button {
  text-decoration: none;
  color: white;
}

.button {
  width: 240px;
  background-color: black;
  padding: 30px 60px;
  border-radius: 50px;
  margin: auto;
}

/* ------------ footer ------------ */
footer {
  width: 100%;
  height: 380px;
  background-image: url(../images/footer.png);
  background-size: cover;
}

footer p {
  padding: 140px 0 0 100px;
  color: white;
  font-size: 3rem;
  font-family: "Limelight", cursive;
}
